# Arquivos compilados Java
*.class

# Diretórios gerados pela IDE ou build
bin/
out/
build/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db
